//COLOURS

$blush: #f2d2d3;
$periwinkle: #9ab1e2;
$black: #000;
$white: #fff;
$lightgrey: #f6f6f6;
$grey: #808080;

//FONT FAMILIES
$sans-serif: 'Montserrat', Helvetica, Arial, sans-serif;
$serif: 'Playfair Display', Georgia, Times, serif;

//TRANSITIONS

$color-transition: 0.5s color ease;
$bg-transition: 0.5s background ease;

// BUTTONS

$button-height: 27px;
$button-width: 35px;